* {
  margin: 0;
  padding: 0; /*RESEET*/
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.nav-container {
  width: 100%;
  height: 170px;
  background: #000;
}
.nav-container-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 15px;
}
.nav-container img {
  display: block;
  width: 80px;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: 3px -3px 50px 6px rgba(255, 255, 255, 0.3);
}
.nav-container__list {
  margin-top: 40px;
  text-align: center;
  justify-content: center;
}
.nav-container a {
  display: inline-block;
  margin: 0 10px 0 10px;
  list-style: none;
  color: #fff;
  text-decoration: none;
}
.nav-container li {
  padding: 5px;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
}
.nav-container li:hover {
  background: #f2f2f2;
  border-radius: 50px;
  color: #000;
}

.banner-container {
  background-image: url(https://wallpaperaccess.com/full/2178173.jpg);
  width: 100%;
  height: 700px;
  color: #fff;
  padding: 50px;
}
.banner-container__title {
  display: grid;
  grid-template-columns: 750px;
  grid-template-rows: 90px 220px 100px;
}
.banner-container .search-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.banner-container .search-btn input {
  height: 50px;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  font-size: 1.23em;
  outline: none;
}
.banner-container .search-btn input:focus {
  border-bottom: 2px solid #003399;
}
.banner-container .search-btn input::placeholder {
  color: #003399;
  font-size: 1em;
}
.banner-container .search-btn i {
  font-size: 25px;
  color: #fff;
  background: #003399;
  padding: 15px;
  border-radius: 50px;
  cursor: pointer;
}
.banner-container__img-example .img-banner-desktop, .banner-container__img-example .casa2, .banner-container__img-example .casa1 {
  width: 450px;
  height: 300px;
  position: absolute;
}
.banner-container__img-example .casa1 {
  right: 150px;
  top: 250px;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.banner-container__img-example .casa2 {
  right: 450px;
  top: 500px;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.banner-container__img-example .casa3 {
  width: 320px;
  height: 220px;
  position: absolute;
  right: 100px;
  top: 610px;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.banner-container__img-example img {
  transition: all 0.4s ease;
}
.banner-container__img-example img:hover {
  transform: scale(1.1);
}

.destacados-container h2 {
  margin: 40px 0 40px 0;
  text-align: center;
  font-size: 3em;
}
.destacados-container__propiedades {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.destacados-container__propiedades--destacada {
  display: grid;
  grid-template-rows: 200px 60px 60px 30px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 300px;
  height: 400px;
  padding: 20px;
  font-size: 1.4em;
}
.destacados-container__propiedades--destacada img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
}
.destacados-container__propiedades--destacada a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  background: #003399;
  font-size: 0.9em;
}

.inmuebles-container__propiedades {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 60px;
}
.inmuebles-container__propiedades--lista {
  display: grid;
  grid-template-rows: 200px 60px 60px 30px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 300px;
  height: 400px;
  padding: 20px;
  font-size: 1.4em;
}
.inmuebles-container__propiedades--lista img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
}
.inmuebles-container__propiedades--lista a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  background: #003399;
  font-size: 0.9em;
}
.inmuebles-container h2 {
  margin: 40px 0 40px 0;
  text-align: center;
  font-size: 3em;
}

.separador {
  width: 90vw;
  height: 2px;
  background: rgba(0, 0, 0, 0.3333333333);
  text-align: center;
  margin: 40px auto;
}

.propiedades-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.propiedades-container h2 {
  font-size: 3em;
  margin: 20px 0;
  text-align: center;
}
.propiedades-container__formulario {
  display: flex;
  align-items: center;
  width: 700px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  flex-direction: column;
}
.propiedades-container__formulario select {
  margin: 5px;
  background: #e8e8e8;
  color: #003399;
  height: 50px;
  width: 10vw;
  cursor: pointer;
}
.propiedades-container__formulario label {
  margin: 5px;
  text-align: center;
  font-size: 1.5em;
}
.propiedades-container__formulario textarea {
  margin: 5px;
  padding: 5px;
  width: 20vw;
  resize: none;
  outline: none;
}
.propiedades-container__formulario textarea:focus {
  border-bottom: 3px solid #003399;
  background: #f0f0f0;
}
.propiedades-container__formulario input {
  margin: 5px;
  padding: 5px;
  outline: none;
  width: 20vw;
}
.propiedades-container__formulario input:focus {
  border-bottom: 3px solid #003399;
  background: #f0f0f0;
}
.propiedades-container__formulario #btn-enviar {
  margin: 20px;
  width: 100px;
  padding: 10px;
  color: #fff;
  background: #003399;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  cursor: pointer;
}
.propiedades-container__formulario #btn-enviar:hover {
  background: #fff;
  color: #003399;
  border: 2px solid #003399;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  margin: 40px auto;
  padding: 50px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 950px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.contact-container .contact-container__formulario-de-contacto {
  display: flex;
  flex-direction: column;
}
.contact-container .contact-container__formulario-de-contacto label {
  margin: 10px 0;
}
.contact-container .contact-container__formulario-de-contacto input {
  height: 40px;
  padding: 5px;
  outline: none;
}
.contact-container .contact-container__formulario-de-contacto input:focus {
  border-bottom: 4px solid #000;
  background: #e4e4e4;
}
.contact-container .contact-container__formulario-de-contacto textarea {
  padding: 5px;
  outline: none;
  resize: none;
}
.contact-container .contact-container__formulario-de-contacto textarea:focus {
  border-bottom: 4px solid #000;
  background: #e4e4e4;
}
.contact-container .contact-container__formulario-de-contacto #btn-enviar-contact {
  margin: 20px 0;
  width: 80px;
  padding: 10px;
  border: none;
  background: #003399;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.contact-container .contact-container__formulario-de-contacto #btn-enviar-contact:active {
  background: #fff;
  color: #003399;
  border: 2px solid #003399;
}

.footer-container {
  width: 100%;
  height: 150px;
  background: #000;
  margin-top: 50px;
}
.footer-container h4 {
  padding-top: 30px;
  text-align: center;
  color: #fff;
}
.footer-container__redes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-container__redes li {
  color: #fff;
  margin: 20px 10px;
  padding: 5px;
}
.footer-container__redes i {
  margin-right: 5px;
}
.footer-container__redes a {
  text-decoration: none;
}
.footer-container__redes .footer-container__redes--Instagram li:hover {
  background-color: #e1306c;
  border-radius: 5px;
  color: #000;
}
.footer-container__redes .footer-container__redes--Email li:hover {
  background-color: #fff;
  border-radius: 5px;
  color: #000;
}
.footer-container__redes .footer-container__redes--WhatsApp li:hover {
  background-color: #25D366;
  border-radius: 5px;
  color: #000;
}
.footer-container__redes li {
  list-style: none;
}

@media screen and (min-width: 913px) and (max-width: 1400px) {
  .nav-container {
    height: 200px;
  }
  .banner-container {
    height: 500px;
  }
  .banner-container__title {
    grid-template-columns: 600px;
  }
  .banner-container__img-example .casa1 {
    width: 225px;
    height: 150px;
    right: 70px;
    top: 220px;
  }
  .banner-container__img-example .casa2 {
    width: 225px;
    height: 150px;
    right: 70px;
    top: 380px;
  }
  .banner-container__img-example .casa3 {
    width: 225px;
    height: 150px;
    right: 70px;
    top: 540px;
  }
}
@media screen and (min-width: 467px) and (max-width: 912px) {
  .banner-container {
    height: 500px;
  }
  .banner-container__title {
    grid-template-columns: 280px;
    font-size: 12px;
  }
  .banner-container__img-example .img-banner-tablet, .banner-container__img-example .casa3, .banner-container__img-example .casa2, .banner-container__img-example .casa1 {
    width: 180px;
    height: 125px;
  }
  .banner-container__img-example .casa1 {
    left: 410px;
    top: 220px;
  }
  .banner-container__img-example .casa2 {
    right: 50px;
    top: 320px;
  }
  .banner-container__img-example .casa3 {
    right: 230px;
    top: 420px;
  }
  .destacados-container h2 {
    margin: 40px 0 40px 0;
    text-align: center;
    font-size: 2em;
  }
  .propiedades-container__formulario {
    width: 680px;
  }
  .propiedades-container__formulario select {
    height: 50px;
    width: 18vw;
  }
  .propiedades-container__formulario textarea {
    width: 40vw;
  }
  .contact-container {
    grid-template-rows: repeat(2, 400px);
    grid-template-columns: 480px;
    justify-items: center;
    padding: 0px;
    gap: 20px;
    width: 480px;
    height: 900px;
  }
  .contact-container img {
    width: 250px;
  }
}
@media screen and (max-width: 466px) {
  .nav-container {
    height: 200px;
  }
  .banner-container {
    height: 900px;
  }
  .banner-container__title {
    grid-template-columns: 300px;
    font-size: 12px;
  }
  .banner-container__img-example .img-banner-mobile, .banner-container__img-example .casa3, .banner-container__img-example .casa2, .banner-container__img-example .casa1 {
    width: 180px;
    height: 125px;
  }
  .banner-container__img-example .casa1 {
    right: 70px;
    top: 700px;
  }
  .banner-container__img-example .casa2 {
    left: 20px;
    top: 820px;
  }
  .banner-container__img-example .casa3 {
    right: 25px;
    top: 920px;
  }
  .propiedades-container__formulario {
    width: 300px;
  }
  .propiedades-container__formulario select {
    height: 50px;
    width: 40vw;
  }
  .propiedades-container__formulario textarea {
    width: 50vw;
  }
  .propiedades-container__formulario input {
    width: 50vw;
  }
  .contact-container {
    grid-template-rows: repeat(2, 350px);
    grid-template-columns: 320px;
    justify-items: center;
    padding: 0px;
    width: 320px;
    height: 900px;
  }
  .contact-container img {
    width: 200px;
  }
}
@media screen and (max-width: 280px) {
  .banner-container {
    height: 1000px;
  }
  .banner-container__title {
    grid-template-columns: 200px;
    font-size: 10px;
  }
  .banner-container__img-example .img-banner-mobile-fold, .banner-container__img-example .casa3, .banner-container__img-example .casa2, .banner-container__img-example .casa1 {
    width: 180px;
    height: 125px;
  }
  .banner-container__img-example .casa1 {
    right: 50px;
    top: 700px;
  }
  .banner-container__img-example .casa2 {
    left: 40px;
    top: 860px;
  }
  .banner-container__img-example .casa3 {
    right: 50px;
    top: 1020px;
  }
  .destacados-container h2 {
    margin: 40px 0 40px 0;
    text-align: center;
    font-size: 1.5em;
  }
  .propiedades-container__formulario {
    width: 220px;
  }
  .propiedades-container__formulario select {
    height: 50px;
    width: 40vw;
  }
  .propiedades-container__formulario textarea {
    width: 45vw;
  }
  .contact-container {
    grid-template-rows: repeat(2, 350px);
    grid-template-columns: 260px;
    justify-items: center;
    padding: 0px;
    width: 260px;
    height: 900px;
  }
  .contact-container img {
    margin-top: -60px;
    width: 200px;
  }
  .footer-container {
    height: 250px;
  }
  .footer-container h4 {
    font-size: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
