//main contacto.html


.title-contact {

    h1 {
        margin-top: 20px;
        text-align: center;
        font-size: $TAMANIO-TITULOS * 1.2;
        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        }

        @keyframes tracking-in-expand {
            0% {
            letter-spacing: -0.5em;
            opacity: 0;
            }
            40% {
            opacity: 0.6;
            }
            100% {
            opacity: 1;
            }
        }
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(2,400px);
    margin: 40px auto;
    padding: 50px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 950px;
    border: 2px solid #0003;
    animation: flip-in-hor-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

            @keyframes flip-in-hor-bottom {
                0% {
                    -webkit-transform: rotateX(80deg);
                    transform: rotateX(80deg);
                    opacity: 0;
                }
                100% {
                    -webkit-transform: rotateX(0);
                    transform: rotateX(0);
                    opacity: 1;
                }
            }
        .contact-container__formulario-de-contacto {
            display: flex;
            flex-direction: column;
                label {
                    margin: 10px 0;
                }
                input {
                    height: 40px;
                    padding: 5px;
                    outline: none;
                }                
                input:focus {
                    border-bottom: 4px solid #000;
                    background: #e4e4e4;
                }
                textarea {
                    padding: 5px;
                    outline: none;
                    resize: none;
                }

                textarea:focus {
                    border-bottom: 4px solid #000;
                    background: #e4e4e4;
                }

                #btn-enviar-contact {
                    margin: 20px 0;
                    width: 80px;
                    padding: 10px;
                    border: none;
                    background: $COLOR-SECUNDARIO;
                    color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                }

                #btn-enviar-contact:active {
                    background: #fff;
                    color: $COLOR-SECUNDARIO;
                    border: 2px solid $COLOR-SECUNDARIO;
                }
        }
}

.newsletter-input {
    height: 50px;
    outline: none;
}

.service {
    animation: flip-in-hor-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    @keyframes flip-in-hor-bottom {
        0% {
            -webkit-transform: rotateX(80deg);
                    transform: rotateX(80deg);
            opacity: 0;
        }
        100% {
            -webkit-transform: rotateX(0);
                    transform: rotateX(0);
            opacity: 1;
        }
    }
}