//footer
.footer-container {
    width: 100%;
    height: auto;
    background: #000;
    margin-top: 50px;

        h4 {
            padding-top: 30px;
            text-align: center;
            color: #fff;
        }

        &__redes {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
                
                
                li {
                    color: #fff;
                    margin: 20px 10px;
                    padding: 5px;
                }

                i{
                    margin-right: 5px;
                }

                a {
                    text-decoration: none;
                }

                $Redes: (
                    Instagram: #e1306c,
                    Email: #fff,
                    WhatsApp: #25D366,
                );

                @each $red, $color in $Redes {
                    .footer-container__redes--#{$red}{
                        li:hover {
                            background-color: $color;
                            border-radius: 5px;
                            color: #000;
                        }
                    }
                }                

                li {
                    list-style: none;
                }
        }

        &__navegation {
            
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-evenly;
            padding-bottom: 20px;
            
                h5 {
                    font-size: 20px;
                    color: #fff;
                    margin-bottom: 10px;
                }
                a {
                    list-style: none;
                    text-decoration: none;
                    color: #fff;
                }

                li:hover {
                    border-bottom:2px solid #fff;
                }

                
        }
}