//RESEET
* {
    margin: 0;
    padding: 0;                 /*RESEET*/
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

//Variables

$COLOR-SECUNDARIO: #003399;
$TAMANIO-TITULOS: 3em;

//Barra navegación
.nav-container {
    width: 100%;
    height: 170px;
    background: #000;
        &-menu {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding-top: 15px;
        } 
        img {
            display: block;
            width: 80px;
            margin: 0 auto;
            cursor: pointer;
            box-shadow: 3px -3px 50px 6px rgba(255,255,255,0.3);
        }

        &__list {
            margin-top: 40px;
            text-align: center;
            justify-content: center;
        }

        a {
            display: inline-block;
            margin: 0 10px 0 10px;
            list-style: none;
            color: #fff;
            text-decoration: none;
        }

        li {
            padding: 5px;
            font-family: 'Sofia Sans Semi Condensed', sans-serif;
        }

        li:hover {
            background: #f2f2f2;
            border-radius: 50px;
            color: #000;
        }
}
//Banner
.banner-container {
    background-image: url(https://wallpaperaccess.com/full/2178173.jpg);
    width: 100%;
    height: 700px;
    color: #fff;
    padding: 50px;

    &__title {
        display: grid;
        grid-template-columns: 750px;
        grid-template-rows: 90px 220px 100px;
    }

    .search-btn {
        display: flex;
        align-items: center;
        gap: 10px;

            input {
                height: 50px;
                width: 100%;
                padding: 5px;
                border-radius: 10px;
                font-size: 1.23em;
                outline: none;
            }

            input:focus {
                border-bottom: 2px solid $COLOR-SECUNDARIO;
            }

            input::placeholder {
                color: $COLOR-SECUNDARIO;
                font-size: 1em;
            }

            i {
                font-size: 25px;
                color: #fff;
                background: $COLOR-SECUNDARIO;
                padding: 15px;
                border-radius: 50px;
                cursor: pointer;
            }
    }

    &__img-example {

        //Extends 

        .img-banner-desktop {
            width: 450px;
            height: 300px;            
            position: absolute;
        }

        .casa1 {
            @extend .img-banner-desktop;
            right: 150px;
            top: 250px;            
            clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
        }

        .casa2 {
            
            @extend .img-banner-desktop;
            right: 450px;
            top: 500px;            
            clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
        }

        .casa3 {            
            width: 320px;
            height: 220px;
            position: absolute;
            right: 100px;
            top: 610px;
            clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
        }

        img {
            transition: all .4s ease;
        }

        img:hover {
            transform: scale(1.1);
        }
    }


    
}
//main index
.destacados-container {
    h2 {
        margin: 40px 0 40px 0;
        text-align: center;
        font-size: $TAMANIO-TITULOS;
    }
    
    &__propiedades {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        &--destacada {
            display: grid;
            grid-template-rows: 200px 60px 60px 30px;
            border: 2px solid #0003;
            border-radius: 5px;
            width: 300px;
            height: 400px;
            padding: 20px;
            font-size: 1.4em;

                img {
                    width: 100%;
                    height: 180px;
                    object-fit: cover;
                    border-radius: 5px;
                }

                a {
                    text-align: center;
                    text-decoration: none;
                    color: #fff;
                    border-radius: 10px;
                    background: $COLOR-SECUNDARIO;
                    font-size: .9em;
                }
        }
    }
}
//main inmuebles.html
.inmuebles-container {
     
    &__propiedades {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
        margin-top: 60px;

        &--lista {
            display: grid;
            grid-template-rows: 200px 60px 60px 30px;
            border: 2px solid #0003;
            border-radius: 5px;
            width: 300px;
            height: 400px;
            padding: 20px;
            font-size: 1.4em;

                img {
                    width: 100%;
                    height: 180px;
                    object-fit: cover;
                    border-radius: 5px;
                }

                a {
                    text-align: center;
                    text-decoration: none;
                    color: #fff;
                    border-radius: 10px;
                    background: $COLOR-SECUNDARIO;
                    font-size: .9em;
                }
        }
    }

    h2 {
        margin: 40px 0 40px 0;
        text-align: center;
        font-size: $TAMANIO-TITULOS;
    }
}
.separador {
    width: 90vw;
    height: 2px;
    background: #0005;
    text-align: center;
    margin: 40px auto;
}
//main upload inmuebles
.propiedades-container {

    display: flex;
    flex-direction: column;
    align-items: center;

        h2 {
            font-size: $TAMANIO-TITULOS;
            margin: 20px 0;
            text-align: center;
        }
        
        &__formulario {
            display: flex;
            align-items: center;
            width: 700px;
            border-radius: 10px;
            border: 2px solid #0003;
            flex-direction: column;

                select {
                    margin: 5px;
                    background: #e8e8e8;
                    color: $COLOR-SECUNDARIO;
                    height: 50px;
                    width: 10vw;
                    cursor: pointer;
                }

                label {
                    margin: 5px;
                    text-align: center;
                    font-size: 1.5em;
                }

                textarea {
                    margin: 5px;
                    padding: 5px;
                    width: 20vw;
                    resize: none;
                    outline: none;
                }

                textarea:focus {
                    border-bottom: 3px solid $COLOR-SECUNDARIO;
                    background: #f0f0f0;
                }

                input {
                    margin: 5px;
                    padding: 5px;
                    outline: none;
                    width: 20vw;
                }

                input:focus {
                    border-bottom: 3px solid $COLOR-SECUNDARIO;
                    background: #f0f0f0;
                }

                #btn-enviar {
                    margin: 20px;
                    width: 100px;
                    padding: 10px;
                    color: #fff;
                    background: $COLOR-SECUNDARIO;
                    border: 2px solid #0003;
                    border-radius: 20px;
                    cursor: pointer;
                }

                #btn-enviar:hover {
                    background: #fff;
                    color: $COLOR-SECUNDARIO;
                    border: 2px solid $COLOR-SECUNDARIO;
                }
        }
}
//main contacto.html
.contact-container {
    display: grid;
    grid-template-columns: repeat(2,400px);
    margin: 40px auto;
    padding: 50px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 950px;
    border: 2px solid #0003;
        .contact-container__formulario-de-contacto {
            display: flex;
            flex-direction: column;
                label {
                    margin: 10px 0;
                }
                input {
                    height: 40px;
                    padding: 5px;
                    outline: none;
                }                
                input:focus {
                    border-bottom: 4px solid #000;
                    background: #e4e4e4;
                }
                textarea {
                    padding: 5px;
                    outline: none;
                    resize: none;
                }

                textarea:focus {
                    border-bottom: 4px solid #000;
                    background: #e4e4e4;
                }

                #btn-enviar-contact {
                    margin: 20px 0;
                    width: 80px;
                    padding: 10px;
                    border: none;
                    background: $COLOR-SECUNDARIO;
                    color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                }

                #btn-enviar-contact:active {
                    background: #fff;
                    color: $COLOR-SECUNDARIO;
                    border: 2px solid $COLOR-SECUNDARIO;
                }
        }
}
//footer
.footer-container {
    width: 100%;
    height: 150px;
    background: #000;
    margin-top: 50px;

        h4 {
            padding-top: 30px;
            text-align: center;
            color: #fff;
        }

        &__redes {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
                
                
                li {
                    color: #fff;
                    margin: 20px 10px;
                    padding: 5px;
                }

                i{
                    margin-right: 5px;
                }

                a {
                    text-decoration: none;
                }

                $Redes: (
                    Instagram: #e1306c,
                    Email: #fff,
                    WhatsApp: #25D366,
                );

                @each $red, $color in $Redes {
                    .footer-container__redes--#{$red}{
                        li:hover {
                            background-color: $color;
                            border-radius: 5px;
                            color: #000;
                        }
                    }
                }                

                li {
                    list-style: none;
                }
        }
}
//RESPONSIVE OPTIMIZACIÓN
@media screen and (min-width: 913px) and (max-width:1400px) {
    .nav-container {
        height: 200px;
    }        
    .banner-container {
        height: 500px;
        &__title {
            grid-template-columns: 600px;
        }

        &__img-example {
            .casa1 {
                width: 225px;
                height: 150px;
                right: 70px;
                top: 220px;
            }

            .casa2 {
                width: 225px;
                height: 150px;
                right: 70px;
                top: 380px;
            }

            .casa3 {
                width: 225px;
                height: 150px;
                right: 70px;
                top: 540px;
            }
        }
    }
}

@media screen and (min-width:467px) and (max-width:912px) {
    .banner-container {
        height: 500px;
            &__title {
                grid-template-columns: 280px;
                font-size: 12px;
            }
            &__img-example {
                .img-banner-tablet {
                    width: 180px;
                    height: 125px;
                }

                .casa1 {
                    @extend .img-banner-tablet;
                    left: 410px;
                    top: 220px;
                }
    
                .casa2 {
                    @extend .img-banner-tablet;
                    right: 50px;
                    top: 320px;
                }
    
                .casa3 {
                    @extend .img-banner-tablet;
                    right: 230px;
                    top: 420px;
                }
            }
    }

    .destacados-container {
        h2 {
            margin: 40px 0 40px 0;
            text-align: center;
            font-size: 2em;
        }
    }
    
    .propiedades-container {
        &__formulario {
            width: 680px;
            select {
                height: 50px;
                width: 18vw;
            }
            textarea {
                width: 40vw;
            }
        }
    }

    .contact-container {
        grid-template-rows: repeat(2,400px);
        grid-template-columns: 480px;
        justify-items: center;
        padding: 0px;
        gap: 20px;
        width: 480px;
        height: 900px;

            img {
                width: 250px;
            }
    }
    
}

@media screen and (max-width:466px) {
    .nav-container {
        height: 200px;
    }
    .banner-container {
        height: 900px;
            &__title {
                grid-template-columns: 300px;
                font-size: 12px;
            }
            &__img-example {

                .img-banner-mobile {
                    width: 180px;
                    height: 125px;
                }
                .casa1 {
                    @extend .img-banner-mobile;
                    right: 70px;
                    top: 700px;
                }
    
                .casa2 {
                    @extend .img-banner-mobile;
                    left: 20px;
                    top: 820px;
                }
    
                .casa3 {
                    @extend .img-banner-mobile;
                    right: 25px;
                    top: 920px;
                }
            }
    }
    .propiedades-container {
        &__formulario {
            width: 300px;
            select {
                height: 50px;
                width: 40vw;
            }
            textarea {
                width: 50vw;
            }

            input {
                width: 50vw;
            }
        }
    }
    .contact-container {
        grid-template-rows: repeat(2,350px);
        grid-template-columns: 320px;
        justify-items: center;
        padding: 0px;
        width: 320px;
        height: 900px;

            img {
                width: 200px;
            }
    }
}

@media screen and (max-width:280px) {
    
    .banner-container {
        height: 1000px;
            &__title {
                grid-template-columns: 200px;
                font-size: 10px;
            }

            &__img-example {
                .img-banner-mobile-fold {
                    width: 180px;
                    height: 125px;
                }

                .casa1 {
                    @extend .img-banner-mobile-fold;
                    right: 50px;
                    top: 700px;
                }
    
                .casa2 {
                    @extend .img-banner-mobile-fold;
                    left: 40px;
                    top: 860px;
                }
    
                .casa3 {
                    @extend .img-banner-mobile-fold;
                    right: 50px;
                    top: 1020px;
                }
            }
    }

    .destacados-container {
        h2 {
            margin: 40px 0 40px 0;
            text-align: center;
            font-size: 1.5em;
        }
    }

    .propiedades-container {
        &__formulario {
            width: 220px;
            select {
                height: 50px;
                width: 40vw;
            }
            textarea {
                width: 45vw;
            }
        }
    }

    .contact-container {
        grid-template-rows: repeat(2,350px);
        grid-template-columns: 260px;
        justify-items: center;
        padding: 0px;
        width: 260px;
        height: 900px;

            img {
                margin-top: -60px;
                width: 200px;
            }
    }

    .footer-container {
        height: 250px;

            h4 {
                font-size: 20px;
            }
    }
    
}
